  .my-social-links {
    margin-right: 2%;
  }
  
  .my-social-links i {
      font-size: 2em;
      color: black;
      background-color: white;
  }

  .my-social-links i:hover {
    color:white;
    background-color: black;
    }
  
  #search-bar {
      opacity: 0.7;
      border: 1px black;
  }


  br {
      background-color: black;
  }

  #main-content {
      margin-top: 5%;
  }

  #footer-text {
      margin-bottom: 1%;
  }

  /*Materialize Sticky footer */
  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }

  main {
      flex: 1 0 auto;
  }

  /* End Sticky footer */