/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&family=Special+Elite&display=swap');

/* Logo fonts */
.brand-logo {
    font-family: "special elite";
}

/* Body fonts */
body {
    font-family: "public sans";
}

/* Navbar links color */
.nav-wrapper a {
    color: black;
}

/* index page search bar */
#search-bar {
    margin-top: 1%;
}

/* Confirm delete card */
.confirm-delete {
    margin-top: 10%;
}

/* index page - add acronym and reset search results buttons */
.index-btns {
    margin-top: 1%;
}

/* Flash messages */
.flashes {
    padding: 10px 0px;
    border-radius: 10px;
    border: solid 1px lightslategray;
}

/* Register.html */
.registration-form {
    margin-top: 5%;
}

/*Materialize Sticky footer */
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}
/* End Sticky footer */


/* Footer Social links */
.my-social-links {
    margin-right: 2%;
}

.my-social-links i {
    font-size: 2em;
    color: rgb(68, 68, 68);

}

.my-social-links i:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}

#footer-text {
    margin-bottom: 1%;
}
/* End Footer Social links */