<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/favicon/site.webmanifest') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Acronym Base</title>
    {% block styles %}
    {% endblock %}
</head>

<body>
    <header>
        <!-- Navbar - Materialize -->
        <nav class="grey lighten-4">
            <div class="nav-wrapper container">
                <a href="{{ url_for('get_acronyms') }}" class="brand-logo black-text">AcronymBase</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                        class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_acronyms') }}">Home</a></li>
                    <!-- Logged in user links -->
                    {% if session.user %}
                    <li><a href="{{ url_for('myprofile', username=session['user']) }}">My Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <!-- Not logged in user links -->
                    {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Mobile Side Nav - Materialize-->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_acronyms') }}">Home</a></li>
            {% if session.user %}
            <!-- Mobile logged in user links -->
            <li><a href="{{ url_for('myprofile', username=session['user']) }}">My Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <!-- Mobile not logged in user links -->
            {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </header>

    <!-- flash messages  -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
        <div class="row">
            <div class="col m4 s10 offset-s1 offset-m4">
                <h5 class="teal lighten-1 z-depth-3 white-text center-align flashes">
                    {{ message }}</h5>
            </div>
        </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main>

        {% block content %}
        {% endblock %}
        
    </main>

    <!-- Footer - Materialize -->
    <footer class="page-footer grey lighten-4 black-text">
        <div id="footer-text" class="container">
            © 2021 Vilmantas Zaleckas
            <a class="right my-social-links" target="_blank" href="https://github.com/niekados/">
                <i class="fab fa-github-square"></i><span class="sr-only">GitHub</span></a>
            <a class="right my-social-links" target="_blank"
                href="https://www.linkedin.com/in/vilmantas-zaleckas-3907a51b9">
                <i class="fab fa-linkedin"></i><span class="sr-only">LinkedIn</span></a>
            <a class="right my-social-links" target="_blank" href="mailto:galway@europe.com">
                <i class="fas fa-envelope-square"></i><span class="sr-only">email</span></a>
        </div>
    </footer>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>