{% extends "base.html" %}
{% block content %}
<div class="row container">
  <div class="col s12 center-align">
    <h4>Edit Acronym</h4>
  </div>
</div>
<div class="row registration-form container">
  <form  method="POST" action="{{ url_for('edit_acronym', acronym_id=entry._id) }}">
  <div class="col s12 m10 offset-m1">
      <div class="card grey lighten-5">
          <div class="card-content">
            <div class="row">
              <div class="input-field col s10 m8 offset-s1 offset-m2">
                <input id="acronym_name" value="{{ entry.acronym_name }}" name="acronym_name" type="text" class="validate">
                <label for="acronym_name">Acronym</label>
              </div>
              <div class="row">
                <div class="input-field col s10 m8 offset-s1 offset-m2 ">
                  <textarea id="meaning" name="meaning" minlength="3" maxlength="150" class="materialize-textarea">{{- entry.meaning -}}</textarea>
                  <label for="meaning">Definition</label>
                </div>
              </div>
 
          </div>
          <div class="card-action center-align">
            <a href="{{ url_for('myprofile', username=session['user']) }}" class="btn red lighten-1">Cancel <i class="material-icons">cancel
            </i></a>
          <button class="green lighten-1 btn" type="submit" name="action">Submit
            <i class="material-icons right">add_box</i>
          </button>
          </div>
      </div>
  </div>
</form>
</div>
{% endblock %}