{% extends "base.html" %}
{% block content %}
<form>
    <div class="row">
        <div id="search-bar" class="input-field container center col m4 offset-m4 s8 offset-s1">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
</form>
{% if session.user %}
<div class="col">
<a href="{{ url_for('add_acronym') }}" class="btn-floating btn green"><i class="material-icons">add</i></a>
</div>
{% else %}
<div class="col">
    <a href="{{ url_for('login') }}" class="btn-floating btn green"><i class="material-icons">add</i></a>
    </div>
{% endif %}
    {% for acronym in acronyms %}
    <div class="row container">
        <div class="col s12 m10 offset-m1">
            <p><strong>{{ acronym.acronym_name }}</strong> </p>
            <p>{{ acronym.meaning }} </p>
            <p class="right-align "><small>{{ acronym.entered_by }}</small></p>
        </div>
    </div>
    {% endfor %}
{% endblock %}