{% extends "base.html" %}
{% block content %}
<!-- Page Heading -->
<div class="row container">
  <div class="col s12 center-align">
    <h4>{{ username.capitalize() }} profile</h4>
  </div>
</div>
<!-- Add acronym button -->
<div class="row container">
  <div class="col offset-s10">
    <a href="{{ url_for('add_acronym') }}" class="btn-floating btn green lighten-1"><i
        class="material-icons">add</i></a>
  </div>
</div>
{% for entry in user_entries %}
<!-- Cards for acronyms - Materialize -->
<div class="row container">
  <div class="col s12 m10 offset-m1">
    <div class="card grey lighten-5">
      <div class="card-content">
        <span class="card-title"><strong>{{ entry.acronym_name }}</strong></span>
        <blockquote><em>{{ entry.meaning }}</em></blockquote>
        <!-- Admin cards functionality to show all entries with usernames -->
        {% if session["user"] == "admin" %}
        <p class="right-align"><small>{{ entry.entered_by }}</small></p>
        {% endif %}
      </div>
      <!-- Card buttons - Materialize -->
      <div class="card-action right-align">
        <a href="{{ url_for('edit_acronym', acronym_id=entry._id)}}" class="btn-floating btn green lighten-1">
          <i class="material-icons">edit</i></a>
        <a href="{{ url_for('confirm_delete', acronym_id=entry._id)}}" 
            class="btn-floating btn red lighten-1">
            <i class="material-icons">delete_forever</i></a>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}